.env

# Default ignored files
/shelf/
/.idea/
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
target/
/.env

/frontend/node_modules
/frontend/dist/assets/index-Hgp5Ru17.css
/frontend/dist/assets/index-1XM8H6rj.js
/frontend/dist/assets/index-BH99zEHk.js
